.zdog-svg {
  margin: 2rem;
  background: #fdb;
  cursor: move;
  width: 40rem;
  height: 40rem;
}

body {
  background: #5f6a6a;
  margin: 0;
  display: flex;
  align-items: center;
}

.eyes {
  width: 80px;
}

.default-eyes {
}

.angry-eyes {
}